.modal {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: clamp(50%, 700px, 90%);
	height: min(50%, 300px);

	margin: auto;
	padding: 0 2rem;

	border-radius: 20px;
}
