@import "../main/Main.module.scss";

.cart {
	.call {
		display: flex;

		margin-top: 5rem;
		margin-left: 10rem;

		font-size: 4rem;
		gap: 5rem;

		svg {
			width: 12rem;
		}

		.callText {
			font-weight: bold;
		}
	}

	.noItems {
		margin-top: 10rem;

		text-align: center;
	}
}

.result {
	min-height: 88px;
}
